<!-- 显示选中英雄组件 -->
<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <!--<li>是*ngFor的宿主元素
    heroews是来自HeresComponent的队列-->
  <li *ngFor="let hero of heroes">
    <!-- 通过数据复写（遍历）他的寄主元素，li为寄主元素 -->
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>