<h2>My Heroes</h2>
<ul class="heroes">
  <!--<li>是*ngFor的宿主元素
    heroews是来自HeresComponent的队列-->
    <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <!-- onSelect添加点击事件函数 -->
    <!-- 通过数据复写（遍历）他的寄主元素，li为寄主元素 -->
    <!-- [class.selected]="hero === selectedHero"为CSS类帮顶起 -->
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>
<!-- 判断选中英雄是否为空，为空移出DOM -->
<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <!--双向数据绑定语法-->
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>
